# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\AdeeSha\Desktop\School\Semester G\Distributed System Programming\Assignments\Assignment2\DSP-Ass2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
